mixin forgotForm()
 form.form(action="/account/forgot" method="POST")
  h2 I forgot my passpord
  label(for="email") E-Mail
  input(type="email", name="email")
  input.button(type="submit" value="Send a reset")